.login{
  /* background: url("/src/2.png"),linear-gradient(#423c405d, #312a2a3d); */
  background-size:contain;
  background-position:top;
  background: cover;
  background: linear-gradient(rgba(0,0,0, 0.6) , rgba(0,0,0, 0.6), rgba(0,0,0,0.6)),url("/src/2.png");
}

.navbar-css{

 

}

.head{
    height:60px;
    font-size: 40px;
}
.reg-ele{
  color: red;
}

.mycard{
  height: 350px;
  margin:40px;
}
.mycardbody{
  background-color: plum;
}

.gly{
  height: 100px;
  width: auto;
}

.para{
  font-size: 50px;
  height: 80px;
  background-color: rgb(185, 153, 187);
  color: black;
  font-weight: 700;
}